section.agency
    .container
        p.agency__title we are an awesome agency
        .agency__feature
            .feature
                .icon
                    i.fa.fa-pencil-square-o.icon--write(aria-hidden="true")
                .title feature one
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    i.fa.fa-pencil-square-o.icon--write(aria-hidden="true")
                .title feature two
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    i.fa.fa-search.icon--search(aria-hidden="true")
                .title feature three
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    i.fa.fa-comment-o.icon--comment(aria-hidden="true")
                .title feature four
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
