section.agency
    .container
        p.agency__title we are an awesome agency
        .agency__feature
            .feature
                .icon
                    .icon--write
                .title feature one
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    .icon--write
                .title feature two
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    .icon--search
                .title feature three
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
            .feature
                .icon
                    .icon--comment
                .title feature four
                .text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
