section.akita.container
    .akita__world.akita__world--flex
        .akita__world-top
            .date jan 4, 2016 in culture
            .title akita inu dog
            .text
                | Ipsum irure ipsum ex do fugiat voluptate. Mollit deserunt sit mollit proident dolore excepteur ad cillum deserunt dolor labore. 
                br
                br
                |Ullamco nisi culpa voluptate ullamco laboris nulla ex mollit fugiat ullamco consequat nisi exercitation ipsum.
        .akita_photo-top: img(src="../images/akita-photo__1.jpg", alt="akita-photo")
    .akita_world.akita__world--flex-reverse
        .akita_world-bottom
            .date jan 4, 2016 in culture
            .title akita inu dog
            .text 
                | Ipsum irure ipsum ex do fugiat voluptate. Mollit deserunt sit mollit proident dolore excepteur ad cillum deserunt dolor labore.
                br
                br
                | Ullamco nisi culpa voluptate ullamco laboris nulla ex mollit fugiat ullamco consequat nisi exercitation ipsum.
        .akita_photo-bottom: img(src="../images/akita-photo__2.jpg", alt="akita-photo")
