section.block-phone
    .container

        .block-phone__paragraph
            .title Akita Inu Dog
            p.text Commodo consectetur dolore voluptate aliqua ut ex do do. Minim adipisicing ex consectetur do. Dolor sit qui quis quis ipsum eu anim esse excepteur nostrud quis. Eiusmod id incididunt do ex consectetur laborum laboris cupidatat in non proident voluptate.
            .advantages
                .item Fully Responsive Design
                .item High Quality Code
                .item Different Headers & Layout

        .block-phone__foto
              img(src="../images/phone-photo.png", alt="phone")

