section.blog
    .container
        p.blog__title Let's blog
        p.blog__text We love clean design and advanced digital solutions. 
        .blog__feature
            .feature
                img(src="../images/blog-photo_1.jpg", alt="photo")
                .title Fresh Summer Campaign 
                .text Proident enim consectetur officia in ad qui adipisicing ut incididunt ut adipisicing. Cupidatat labore et eu aute anim ipsum ex eu aute veniam. Amet sint officia culpa quis pariatur minim aliquip adipisicing ullamco labore quis labore reprehenderit. Exercitation laborum dolor sit nulla ut cillum ipsum nulla labore. Sunt fugiat et eiusmod non aliqua deserunt mollit voluptate.
            .feature
                img(src="../images/blog-photo_2.jpg", alt="photo")
                .title Fresh Summer Campaign 
                .text Laborum reprehenderit excepteur nisi adipisicing irure aliqua exercitation et esse labore est excepteur. Sit anim nulla cupidatat anim magna incididunt dolore nulla commodo. Nisi ullamco id adipisicing dolor ex Lorem duis dolore quis aliquip deserunt aliquip. Commodo consequat deserunt aliqua id reprehenderit tempor ullamco. Exercitation non eiusmod mollit veniam eu occaecat consectetur eu laboris. 
            .feature
                img(src="../images/blog-photo_3.jpg", alt="photo")
                .title Fresh Summer Campaign 
                .text Incididunt in labore magna in ullamco adipisicing laboris in ea et. Elit elit aute pariatur veniam. Ad tempor fugiat ad pariatur eiusmod eu non deserunt mollit veniam. Consectetur adipisicing laborum labore sit voluptate incididunt do amet consectetur. Sit sunt commodo in reprehenderit anim. Pariatur ut sit irure ex. Sint dolore velit nulla non Lorem incididunt exercitation qui duis.
            .feature
                img(src="../images/blog-photo_1.jpg", alt="photo")
                .title Fresh Summer Campaign 
                .text Amet labore anim laboris eu nulla enim tempor nisi ullamco incididunt commodo sit occaecat veniam. Laboris consequat ea ipsum eiusmod non magna velit dolor eiusmod deserunt occaecat. Ea do reprehenderit aliqua fugiat. Ad proident amet irure fugiat officia voluptate sunt ea commodo. Mollit id non ullamco velit sunt ipsum nisi nulla tempor cupidatat ad. Cillum pariatur duis esse nostrud.

    .container-fluid
        .blog__footer 
            .container.blog__footer--flex
                    .text Aliquip esse magna cupidatat aliqua ex et ut amet et elit. Nisi in nostrud irure Lorem adipisicing aliquip. Sunt cillum amet irure ipsum pariatur aliqua officia. Aliquip do enim in sunt officia excepteur duis laboris pariatur. Occaecat dolor dolor Lorem pariatur commodo ea Lorem duis non incididunt exercitation. Qui irure quis dolor labore veniam et esse exercitation amet cillum enim nostrud. Lorem magna elit labore cupidatat ad ipsum eiusmod et cillum consectetur sunt incididunt incididunt sit.
                    .text Aliquip esse magna cupidatat aliqua ex et ut amet et elit. Nisi in nostrud irure Lorem adipisicing aliquip. Sunt cillum amet irure ipsum pariatur aliqua officia. Aliquip do enim in sunt officia excepteur duis laboris pariatur. Occaecat dolor dolor Lorem pariatur commodo ea Lorem duis non incididunt exercitation. Qui irure quis dolor labore veniam et esse exercitation amet cillum enim nostrud. Lorem magna elit labore cupidatat ad ipsum eiusmod et cillum consectetur sunt incididunt incididunt sit.