.blog {
    padding-top: 150px;
    font-family: $ff-main;
    color: $text-color;
    text-align: center;

    &__title {
        position: relative;
        margin-bottom: 105px;
        font-size: 37px;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        z-index:5;
    
        &::after {
            content: 'B';
            @include centerer-xy();
            @include letter();
        }
    }

    &__text {
        margin-bottom: 70px;
        font-size: 30px;
        color: $title-color;
    }

    &__feature {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        .feature {
            width: 270px;


            .title {
                margin-bottom: 18px;
                margin-top: 30px;
                font-size: 18px;
                text-transform: uppercase;
                color: $subscription-color;
            }

            .text {  
                color: $title-color;
            }
        }
    }

    &__footer {

        padding-top: 105px;
        padding-bottom: 150px;
        background-color: #11749e;

        .blog__footer--flex {
            display: flex;
            justify-content: space-between;
        }

        .text { 
            display: flex;
            justify-content: space-between;
            width: 560px;
            font-size: 15px;
            color: $main__text-color;

            &::before {
                content: '\f044';
                margin-right: 25px;
                font-family: FontAwesome;
                font-size: 135px;
            }
        }

    }
}